/* START CSS FOR MAHER :  */

@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap%27");
.for-font {
    font-family: 'Karla', sans-serif;
    overflow-x: hidden;
}

.index-bg-image {
    background-image: url("/public/assets/SVG/bg.svg");
}

.index-logo {
    width: 90px;
}

.index-para {
    font-size: 10px;
}

.index-back {
    background-color: #F4CF1B;
}

.index-lien {
    font-size: 13px;
}

.index-paragraphe {
    font-size: 24px;
    font-weight: 700;
}

.index-hone {
    font-size: 26px;
    font-weight: 900;
    color: #1078AD;
}

.index-carte {
    color: #1078AD;
    font-size: 28px;
    font-weight: 700;
}

.index-pp {
    font-size: 16px;
    font-weight: 500;
}

.index-hone {
    color: #1078AD;
}

.index-button {
    color: #1078AD !important;
    background-color: #aadef8 !important;
    font-size: 22px;
    font-weight: 700;
    border: 2px solid #1078AD !important;
}

.index-button:hover {
    color: white !important;
    background-color: #1078AD !important;
    border: none !important;
}

.child-one>.w-75 {
    width: 30vw !important;
}
            /* END CSS FOR INDEX PAGE  */


/* .result-carte {
    background-color: #1078AD;
}

.result-hr {
    color: white;
    height: 1px;
}

.result-msg {
    font-size: x-small;
    font-weight: lighter;
} */


/* END CSS FOR MAHER :  */
/* .information-div-paragraph{
    background-color: #96C5DC;
} */